@model VarsityProject.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">

    <!-- Tagsinput CSS -->
    <link href="~/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.css" rel="stylesheet" type="text/css">

}

@section breadcrumb{
    <div class="xp - breadcrumbbar text - center">
        <h4 class="page-title">Subjects</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="\Dashboard\Administrator\">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="\Students\Index\">Students</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>}
<div class="col-lg-12">
    <div class="card m-b-30">

        <div class="card-header bg-white">
            <h5 class="card-title text-black">Add new Student</h5>
        </div>

        <div class="card-body">
            @using (Html.BeginForm("Create", "Students", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data", @class = "xp-form-validate" }))
            {
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-Name">Name <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="val-Name" name="val-Name" placeholder="Enter a Name...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-Surname">Surname <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="val-Surname" name="val-Surname" placeholder="Enter a surname...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-student-number">Student Number <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="val-student-number" name="val-student-number" placeholder="Provide student number...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-Cellphone">Cellphone number <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="val-Cellphone" name="val-Cellphone" placeholder="Provide cellphone...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-email">Email <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="val-email" name="val-email" placeholder="Provide email address...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-gender">Gender <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <select class="xp-select2-multi-select form-control col-lg-12" name="val-gender" id="val-gender">
                                <option>Choose gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-courses">Course(s)<span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        @Html.DropDownListFor(x => x.courseids, Model.CourseList, "Select a Course(s)", new { @class = "xp-select2-multi-select form-control col-lg-12", Name = "val-courses[]", @multiple = "multiple" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-password">Password <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" id="val-password" name="val-password" placeholder="Create password...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="val-confirm-password">Confirm Password <span class="text-danger">*</span></label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="Confirm password...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section scripts{

    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script src="~/assets/js/init/form-select-init.js"></script>

    <script src="~/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/plugins/bootstrap-tagsinput/typeahead.bundle.js"></script>
    <script src="~/assets/js/init/form-select-init.js"></script>
}


