<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Smart App</title>

    <!-- Fevicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Start CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- End CSS -->

</head>

<body class="xp-vertical">

    <!-- Start XP Container -->
    <div id="xp-container">

        <!-- Start XP Leftbar -->
        <div class="xp-leftbar">

            <!-- Start XP Sidebar -->
            <div class="xp-sidebar">

                <!-- Start XP Logobar -->
                <div class="xp-logobar text-center">
                    <a href="/" class="xp-logo"></a>
                </div>
                <!-- End XP Logobar -->
                <!-- Start XP Navigationbar -->
                <div class="xp-navigationbar">
                    <ul class="xp-vertical-menu">
                        <li class="xp-vertical-header">Navigation</li>
                        <li>
                            <a href="\Admin\StudentLogin\">
                                <i class="ion ion-ios-person"></i><span>Student</span>
                            </a>
                        </li>
                        <li>
                            <a href="\Admin\LectureLogin\">
                                <i class="ion ion-ios-school"></i><span>Lecture</span>
                            </a>
                        </li>
                        <li>
                            <a href="\Admin\AdministratorLogin\">
                                <i class="mdi mdi-package-variant"></i><span>Administrator</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End XP Navigationbar -->

            </div>
            <!-- End XP Sidebar -->

        </div>
        <!-- End XP Leftbar -->
        <!-- Start XP Rightbar -->
        <div class="xp-rightbar">
            <!-- Start XP Contentbar -->
            <div class="xp-contentbar">


                @RenderBody()

            </div>
            <!-- End XP Contentbar -->
            <!-- Start XP Footerbar -->
            <div class="xp-footerbar">
                <footer class="footer">
                    <p class="mb-0">© @DateTime.Now.Year Smart App.</p>
                </footer>
            </div>
            <!-- End XP Footerbar -->

        </div>
        <!-- End XP Rightbar -->

    </div>
    <!-- End XP Container -->
    <!-- Start JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- Parsley JS -->
    <script src="~/assets/plugins/validatejs/validate.min.js"></script>

    <!-- Validate JS -->
    <script src="~/assets/js/init/validate-init.js"></script>
    <script src="~/assets/js/init/form-validation-init.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    <!-- End JS -->

</body>
</html>